{% extends "accounts/base_auth.html" %}

{% block title %}
Login | NewsHub Pro
{% endblock %}

{% block auth_content %}
<div class="card shadow-sm border-0">
  <div class="card-body p-5">
    <h2 class="text-center mb-4">
      Welcome Back
    </h2>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary w-100" type="submit">Log in</button>
    </form>
    <hr>
    <p class="text-center">
      Don't have an account?
      <a href="{% url 'accounts:register' %}">Register</a>
    </p>
  </div>
</div>
{% endblock %}